# Информация об оплате (payments_olist_public_dataset.csv)

In [1]:
import pandas as pd

In [2]:
payments = pd.read_csv(r'C:\Users\Вячеслав\Documents\olist_churn\olist-ml-churn-prediction\data\raw\payments_olist_public_dataset.csv')

In [3]:
display(payments.head())

,order_id,installments,sequential,payment_type,value
0,25e8ea4e93396b6fa0d3dd708e76c1bd,1,1,credit_card,65.71
1,ba78997921bbcdc1373bb41e913ab953,8,1,credit_card,107.78
2,42fdf880ba16b47b59251dd489d4441a,2,1,credit_card,128.45
3,771ee386b001f06208a7419e4fc1bbd7,1,1,credit_card,81.16
4,62fe0bd75deb58982ebf8e53a128a301,1,1,credit_card,15.82

In [4]:
print(payments.isna().sum())

order_id        0
installments    0
sequential      0
payment_type    0
value           0
dtype: int64

In [5]:
print(payments.shape)

(97433, 5)

#### Хорошо подойдет для объединения с